strong {
  font-weight: bold;
  width: 5rem;
}

.mat-dialog-actions {
  justify-content: space-between;
}

#btnRemovePerson {
  background-color: var(--button-cancel-color);
  label {
    padding-left: 0.5rem;
  }
}

#btnCloseDialog {
  background-color: var(--button-edit-color);
  label {
    padding-left: 0.5rem;
  }
}
