strong {
  font-weight: bold;
  width: 5rem;
}

.mat-dialog-actions {
  justify-content: space-between;
}

#btnRemovePerson {
  background-color: #7952b3;
  label {
    padding-left: 0.5rem;
  }
}

#btnCloseDialog {
  background-color: #bc8fff;
  label {
    padding-left: 0.5rem;
  }
}
