.form {
	margin-left: 10vw;
	width: 80vw;
    border: 1px solid grey;
    margin-top: 50px;
	padding: 16px;
}

mat-form-field {
	width: 100%;
}

mat-form-field.readonly {
	color: grey;
}

#buttons {
	margin-top: 16px;
	display: flex;
	justify-content: space-around;
}
