@import "~ngx-toastr/toastr";
.container {
    width: calc(100% - 3rem);
    height: calc(100% - 3rem);
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem;
}