.add-person {
    position: absolute;
    top: 28px;
    right: 10vw;
}

table {
	margin-left: 10vw;
	width: 80vw;
	border: 1px solid grey;
    margin-top: 70px;
}

mat-form-field {
	width: 100%;
}

mat-form-field.readonly {
	color: grey;
}

#buttons {
	margin-top: 16px;
	display: flex;
	justify-content: space-around;
}

td {
	font-size: 12px;
}

td button {
    margin-left: 0.5rem;
}

.action {
	color: blue;
	cursor: pointer;
}

.action:hover {
	background-color: aqua;
}